.jojo{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  position: relative; /* wajib buat patokan absolute */
}

.tompel{
  background-color:rgba(0); /* awal invisible */
  height:26px;
  width:26px;
  position:absolute;
  left: 236px; /* tengah horizontal */
  top: 246px; /* tengah vertikal */
  transform: translate(-50%, -50%); /* geser biar titik tengahnya pas */
  border-radius:50%;
  transition: background 0.3s ease;
}
.uang{
  padding:10px;
  background-color:skyblue;
  display:inline-block;
  border-radius:10px;
}

.tompel.active {
  background: rgba(32, 178, 170, 0.6);
}
#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 999;
}

#toast.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}
#btnTopUp {
  margin-left: 10px;
  padding:5px 10px;
  background: #20b2aa;
  color: white;
  border: none;
  border-radius: 6px;
}

.modal {
  display: none; /* awalnya sembunyi */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6); /* overlay tembus */
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 280px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing:border-box;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
#btnBayar{
  border:none;
  padding:10px;
  border-radius:10px;
  background-color:#20b2aa;
  color:white;
}
.tompel.berdarah {
  background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(139,0,0,0.9) 70%);
  box-shadow: 0 0 20px red, 0 0 40px darkred;
  animation: darah 0.5s infinite alternate;
}

@keyframes darah {
 0% { box-shadow: 

